.features {
    padding: 100px 16px;
    .features__info {
      display: flex;
      flex-direction: column;
      gap: 28px;
  
      .feature__subtitle {
        font-size: 28px;
        line-height: 1.3;
        font-weight: 400;
        letter-spacing: 0.2;
        text-align: center;
        color: var(--text-subtitle-color-dark);
      }
      .features__video {
        position: relative;
        width: 100%;
        aspect-ratio: 2/1;
        border-radius: 16px;
      }
      .features__video iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }
  
    .features__container {
      margin-top: 68px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 40px;
  
      .feature__item {
        display: grid;
        gap: 20px;
        text-align: center;
        place-items: center;
        .feature__icon {
          object-fit: cover;
        }
        .feature__title {
          font-size: 20px;
          font-weight: 700;
          line-height: 1.3;
          align-items: center;
        }
        .feature__description {
        }
      }
    }
  }
  